body {
    background-color:black;
    font-family:Verdana;
    margin:0;
}
a {
    color:white;
    text-decoration:none;
}
a:hover {
    color:crimson;
}

#Up {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:300px;
}